<main>

	{{__foreach-1-start__}}

		{{message}}<br>
	{{__foreach-1-end__}}

	<b>Sign into your account</b>
	
	<form method="post" action="login">

		<label>Email:</label>
		<input type="email" name="email" value="{{email}}" required>

		<label>Password:</label>
		<input type="password" name="password" required>

		<input type="submit">
	</form>

	<p>No account yet? <a href="/signup">Create new</a> </p>
</main>