<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	colors = "true"
	convertErrorsToExceptions = "false" 
	convertNoticesToExceptions = "false"
><!-- for the error catchers
	convertWarningsToExceptions = "false" -->
	<testsuites>
		<testsuite name="all_tests">
			<directory>./tests</directory>
		</testsuite>

		<testsuite name="integration">
			<directory>./tests/integration</directory>
		</testsuite>

		<testsuite name="unit">
			<directory>./tests/unit</directory>
		</testsuite>
	</testsuites>

	<php>
		<ini name="error_reporting" value="-1" /><!-- 
		<ini name="display_errors" value="1" />
		<ini name="display_startup_errors" value="1" /> --><!-- 
		<env name="DATABASE_USER" value="test" />
		<env name="DATABASE_PASS" value="password" />
		<env name="DATABASE_NAME" value="thing_test" />
		<env name="DATABASE_HOST" value="127.0.0.1" /> -->
	</php>
</phpunit>