<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="e-currency exchange platform" />
	<meta name="keywords" content='{{keywords}}' />

	<meta property="og:url" content="{{og_url}}" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{title}}" />
    <meta property="og:site_name" content="tilwa" />
	<meta property="og:description" content="{{description}}" />
	<meta property="og:image" content="logo-url" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="tilwa">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:creator" content="link">
    <meta name="twitter:image:src" content="logo-url">
    <meta name="twitter:domain" content="link">

	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">

	<link rel="stylesheet" type="text/css" href="/assets/index.css">
	<script type="text/javascript" src=/assets/jquery.js></script>
	<link rel="stylesheet" type="text/css" href="/assets/{{type}}.css">
	<link rel="icon" type="image/png" href="/assets/favicon.ico" />

	{{custom_scripts}}

	<title>{{title}}</title>
</head>
<body>
	<header>

		<h1><a href='/' >
			<img src="/assets/dig-currency-logo4.png"> tilwa
		</a></h1>
		<nav>
			
			<a href="/" class="{{active_index}}">home </a>

			<a href="/profile" class="{{active_profile}}">profile </a>
			<a href="/utilities" class="{{active_utilities}}">utilities </a>
			<a href="/trade" class="{{active_trade}}">trade </a>
			<a href="/buy-data" class="{{active_buy_data}}">buy data </a>
		</nav>
	</header>
