<h3>Complete your verification process</h3>

<form method="post" enctype="multipart/form-data" action="modify/user-verify">

	<label>Upload Recent Passport:</label>
	<input type="file" name="photoIds" accept=".jpg,.png,.jpeg" required="required">

	<label>Upload Utility Bill:</label>	
	<input type="file" name="utilityBills" accept=".jpg,.png,.jpeg" required="required">

	<input type="submit" value="save">
</form>