<main>
	<aside>
		<details>
			<summary>electricity</summary>

			<ol>
				<li>ibadan disco</li>
				<li>ikeja disco</li>
				<li>phc disco</li>
				<li>eko disco</li>
				<li>enugu disco</li>
			</ol>
		</details>

		<details>
			<summary>cable tv</summary>
			<ol>
				<li><a href='?cat=mcp&mode=dstv&na=0'>dstv </a></li>
				<li><a href='?cat=mcp&mode=startimes'>startimes </a></li>
				<li><a href='?cat=mcp&mode=gotv'>gotv </a></li>
			</ol>
		</details>

		<details>
			<summary>miscellaneous</summary>

			<ol>
				<li><a href='?cat=mcp&mode=smilebundle'>smile bundles </a></li>
				<li><a href='?cat=mcp&mode=spectranet'>spectranet bundles </a></li>
			</ol>
		</details>

		<details>
			<summary>education</summary>

			<ol>
				<li>waec</li>
			</ol>
		</details>
	</aside>

	<section>
		<h2 id="operation-info">
			{{__foreach-1-start__}} {{trade_notification}} {{__foreach-1-end__}}
		</h2>

		<div>{{content}}</div>
	</section>
</main>


<section id="init-contents">	

	<div data-init='electric'>
		
		<form method="post" action="/utilities/purchase-electric">
			
			<label for="el-type">account type:</label><br>
			<select name="type" id="el-type">
				<option value="prepaid">prepaid</option>
				<option value="postpaid">postpaid</option>
			</select><br>

			<label for="el-account">meter number:</label><br>
			<input type="number" name="account" id="el-account" required><br>

			<label for="el-amount">amount:</label><br>
			<input type="number" name="amount" id="el-amount" required><br>

			<label for="el-phone">phone number:</label><br>
			<input type="number" name="phone" id="el-phone"><br>

			<input type="hidden" name="location" value="ibadan">

			<input type="submit" value="buy">
		</form>
	</div>

	<div data-init='mcf'>
		
		<form method="post" action="/utilities/purchase-multi">

			<input type="number" name="customer_id" placeholder="enter your ID">

			<input type="hidden" name="multi_mode">

			<input type="hidden" name="product_code">

			<input type="submit" value="pay">
		</form>
	</div>

	<div data-init='mcp'>
		
		<table>
		
			<tr>
				<th>product name</th>
				<th>price</th>
				<th>description</th>
				<th></th>
			</tr>

			{{__foreach-1-start__}}
				{{__foreach-2-start__}}
					<tr>
						<td>{{name}}</td>
						<td>{{price}}</td>
						<td>{{description}}</td>
						<td>
							<a href="/utilities?cat=mcp&mode={{mode}}{{nested}}&code={{code}}{{typeCode}}" class='get-this {{pull_up}}'>GET THIS </a>
						</td>
					</tr>
				{{__foreach-2-end__}}
			{{__foreach-1-end__}}
		</table>
	</div>

	<div data-init='waec'>

		<form method="post" action="/utilities/waec-cards">
			<label for="waec-amount">Quantity:</label>
			<input type="number" name="amount" min="1" id="waec-amount"> <p>At {{__foreach-1-start__}}{{waec_amount}}{{__foreach-1-end__}} / card</p>

			<span>Total = </span> <!-- hidden until change in above input -->

			<input type="submit" value="Buy">
		</form>
	</div>

	<template>
		<select name="accounttype" required>
			<option>---select account owner---</option>
			<option>TENANT</option>
			<option>LANDLORD</option>
		</select>
	</template>
</section>

<script src="/assets/Activity.js"></script>
<script src="/assets/utilities.js"></script>