
	<footer data-role=footer>
		<p>&copy {{universal_date}} Tilwa</p>
		<div>
			<a href="https://twitter.com/">twitter</a>
			<a href="/faq">FAQ</a>
			<a href="/TOS">TOS</a>
			<a href="/privacy">privacy</a>
		</div>
	</footer>
</body>

</html>