<style type="text/css">
	main > * {
    flex: 1 45%;
    max-width: 45%;
    overflow-x: hidden;
}

p a {
	color: #fd8cb3
}

div img {
    max-height: 100%;
    max-width: 100%
}
</style>

<main>

	<p>
		Could not find page "{{error_url}}".

		<a href="{{next_url}}"> Go back home</a>.
	</p>
</main>