<main>
	
	<nav>
		{{__foreach-1-start__}}{{left_menu}}{{__foreach-1-end__}}
	</nav>

	<section>
		<p id="operation-info"></p>
	</section>
</main>

<section id="init-contents">

	<div data-init="transactions">

		{{__foreach-1-start__}}

			<ol>
				<li>all users transactions appear here</li>
				<li>transactions cannot be unapproved</li>
			</ol>

			<!-- wrap in foreach2
				<p> Current balance: {{\current_balance}} </p> <br>
				<a href="">recharge</a>
			<p> Transactions today: </p>? -->

			<table>
				
				<tr>
					<th>initiator</th>
					<th>from</th>
					<th>to</th>
					<th>type</th>
					<th>amount</th>
					<th>approved</th>
					<th>approved by</th>
				</tr>

				{{__foreach-2-start__}}
					<tr>
						<td>{{initiator}}</td>
						<td>{{currencyFrom}}</td>
						<td>{{currencyTo}}</td>
						<td>{{mode}}</td>
						<td>{{amount}}</td>
						<td>
							<input type="checkbox" {{approved}} formaction="/modify/approve-trans?id={{id}}" id="trans-{{id}}">
							<label class="anim-cont" for="trans-{{id}}"></label>
						</td>
						<td>{{approvedBy}}</td>
					</tr>
				{{__foreach-2-end__}}
			</table>
		{{__foreach-1-end__}}

		{{__foreach-1-start__}}
			<table>
				
				<tr>
					<th>from</th>
					<th>to</th>
					<th>type</th>
					<th>amount</th>
					<th>status</th>
				</tr>

				{{__foreach-2-start__}}
					
					<tr>
						<td>{{currencyFrom}}</td>
						<td>{{currencyTo}}</td>
						<td>{{mode}}</td>
						<td>{{amount}}</td>
						<td>{{approved}} </td>
					</tr>
				
				{{__foreach-2-end__}}
			</table>
		{{__foreach-1-end__}}
	</div>

	<div data-init="testimonials">

		{{__foreach-1-start__}}
			{{__foreach-2-start__}}
				<p>{{status}}</p>

				<form method="post" action="create/civili-testimonial">
					<label>Enter your testimony below:</label>
					
					<input type="text" name="content" placeholder="Tilwa has been a massive boost" value="{{content}}" {{approved}}>

					<input type="submit" value="testify">
				</form>
			{{__foreach-2-end__}}
		{{__foreach-1-end__}}

		
		{{__foreach-1-start__}}

			<ol>
				<li>all user testimonials appear here</li>
				<li>one user cannot post twice</li>
				<li>user cannot edit once made</li>
			</ol>
			<table>
			
				<tr>
					<th>Owner</th>
					<th>content</th>
					<th>approved</th>
				</tr>
				
					{{__foreach-2-start__}}
						<tr>
							<td>{{fromId}}</td>
							<td class="expand">{{content}}</td>
							<td>
								<input type="checkbox" name="approved" formaction="/modify/testimonial?fromId={{fromId}}&approved={{approveOpp}}" {{approved}} id="test-{{id}}">
								<label class="anim-cont" for="test-{{id}}"></label>
							</td>
						</tr>
					{{__foreach-2-end__}}
			</table>
		{{__foreach-1-end__}}
	</div>

	<div data-init="users">
		{{__foreach-1-start__}}

			<ol>
				<li>users' uploaded media can be raised by clicking on the "yes"</li>
				<li>changing their privilege level requires no button but submits</li>
			</ol>
			<table>
			
				<tr>
					<th>full name</th>
					<th>email</th>
					<th>referrer</th>
					<th>photo</th>
					<th>utility</th>
					<th>phone</th>
					<th>power</th>
				</tr>				
							
					{{__foreach-2-start__}}
						<tr>
							<td>{{firstName}} {{lastName}}</td>
							<td>{{email}}</th>
							<td>{{referredBy}}</td>
							<td class="expand">{{photoId}}</td>
							<td class="expand">{{utilityBill}}</td>
							<td>0{{phone}}</td>
							<td>
								<select data-action="/modify/account-man/" name="role">
									<option value="user" {{user_role}}>User</option>
									<option value="juniorAdmin" {{junior_role}}>Junior Admin</option>
									<option value="admin" {{admin_role}}>Admin</option>
								</select>
							</td>
						</tr>
					{{__foreach-2-end__}}
				{{__foreach-1-end__}}
			</table>

		{{__foreach-1-start__}}

			{{__foreach-2-start__}}

				<h3>Update your transfer details</h3>

				<form method="post" enctype="multipart/form-data" action="modify/civili-user">

					<label>Bank Name:</label>
					<input type="text" name="bankName" minlength="3" required="required" value="{{bankName}}">

					<label>Account Number:</label>	
					<input type="number" name="accountNumber" minlength="10" required="required" value="{{accountNumber}}">

					<input type="submit" value="update">
				</form>
			{{__foreach-2-end__}}

			{{__foreach-2-start__}}{{verify_user}}{{__foreach-2-end__}}
		{{__foreach-1-end__}}
	</div>

	<div data-init='currencies'>
		{{__foreach-1-start__}}

			<ol>
				<li>just as the document says, currencies can be set to visible or not in order to affect the displaying at the /trade link</li>
				<li>transactions involving a currency can be set to manual or automatic approval</li>
			</ol>
			<table>
			
				<tr>
					<th>curr. name</th>
					<th>destination</th>
					<th>min amount</th>
					<th>max amount</th>
					<th>price today</th>
					<th>approval mode</th>
					<th>visible</th>
				</tr>
				
				{{__foreach-2-start__}}
					<tr>
						<td>{{currencyFrom}}</td>
						<td>{{currencyTo}}</td>
						<td contenteditable>{{minimumTransactionCost}}</td>
						<td contenteditable>{{maximumTransactionCost}}</td>
						<td contenteditable>{{priceToday}}</td>
						<td>
							<select>
								<option {{curr_manual}}>manual</option>
								<option {{curr_auto}}>automatic</option>
							</select>
						</td>
						<td>
							<input type="checkbox" {{visible}} id="curr-{{id}}" formaction="/modify/currency?minimumTransactionCost={{minimumTransactionCost}}&maximumTransactionCost={{maximumTransactionCost}}&priceToday={{priceToday}}&visible={{visible}}&currencyFrom={{currencyFrom}}&approvalMode={{approvalMode}}"><!-- update modify str -->
							<label class="anim-cont" for="curr-{{id}}"></label>
						</td>
					</tr>
				{{__foreach-2-end__}}
			</table>
		{{__foreach-1-end__}}
	</div>

	<div data-init="coupons">
		
		{{__foreach-1-start__}}

			<ol>
				<li>Don't worry about the name and creation date, those will be given by the app after clicking "save"</li>
				<li>Please, avoid inserting multiple rows at a time</li>
			</ol>

			<table>
				<tr>
					<th>name</th>
					<th>mode</th>
					<th>amount</th>
					<th>creation date</th>
				</tr>
				
				{{__foreach-2-start__}}
					<tr>
						<td>{{name}}</td>
						<td>{{mode}}</td>
						<td>{{amount}}</td>
						<td>{{creationDate}}</td>
					</tr>
				{{__foreach-2-end__}}
			</table>
		{{__foreach-1-end__}}
	</div>

	<div data-init="mails">
		<form method="post" action="create/broadcast">
			<input type="text" name="subject" placeholder="subject" required>

			<textarea name="content" placeholder="I will like to thank you all for your outstanding support. Bla bla bla..." required></textarea>

			<input type="submit" value="broadcast">
		</form>
	</div>

	<div data-init="vtu">
		<ol>
			<li>validity period stands for how many days it'll take before the vtu purchased expires</li>
			<li>packages whose visibility is turned off will fail to appear at the /data link</li>
		</ol>
		
		<p> Lookup and fill this table from the airvend manual </p>
		<br> <br>
		
		{{__foreach-1-start__}}
			<table>
			
				<tr>
					<th>value</th>
					<th>network</th>
					<th>price</th>
					<th>validity period</th>
					<th>visible</th>
				</tr>
				
				{{__foreach-2-start__}}
					<tr>
						<td contenteditable>{{packageValue}}</td>

						<td>
							<select>
								<option {{vtu_mtn}}>mtn</option>
								<option {{vtu_airtel}}>airtel</option>
								<option {{vtu_nmobile}}>9mobile</option>
								<option {{vtu_glo}}>glo</option>
							</select>
						</td>

						<td contenteditable>{{price}}</td>
						<td contenteditable title="In days">{{validity}}</td>
						<td>
							<input type="checkbox" {{visible}} id="vtu-{{id}}" formaction="/modify/vtu-item?packageValue={{packageValue}}&network={{network}}&price={{price}}&validity={{validity}}&visible={{visible}}&id={{id}}">
							<label class="anim-cont" for="vtu-{{id}}"></label>
						</td>
					</tr>
				{{__foreach-2-end__}}
			</table>
		{{__foreach-1-end__}}
	</div>

	<div data-init="settings">
		{{__foreach-1-start__}}

			<ol>
				<li>each select stands for a criteria the user must meet before authorization to perform an action</li>
				<li>according to the manual, user can only buy when they have photo and utility bills upploaded</li>
				<li>select multiple items by holding down shift key and click</li>
			</ol>
			<form action="modify/settings">
				<table>
					<tr>
						<th>Buy</th>
						<th>Sell</th>
						<th>Data</th>
						<th>Airtime</th>
					</tr>
					
					<tr>
						{{__foreach-2-start__}}
							<td>
								<select multiple name="{{name}}">
									<option value="none" {{none_set}}>none</option>
									<option value="photoIds" {{photo_set}}>photo</option>
									<option value="utilityBills" {{utility_set}}>utility</option>
									<option value="admin" {{admin_set}}>admin</option>
									<option value="juniorAdmin" {{junior_set}}>junior admin</option>
								</select>
							</td>
						{{__foreach-2-end__}}
					</tr>
				</table>

				<br>
				<button>save</button>
			</form>
		{{__foreach-1-end__}}
	</div>

	<div data-init="edit">
		<ol>
			<li>edit meta and content on links/pages across the site</li>
			<li>home page is named "index"</li>
		</ol>
		<input type="search" name="edit" placeholder="Resource to edit">
	</div>

	<template>
		
		<select class="coupons">
			<option>Naira</option>
			<option>percentage</option>
			<option>crypto</option>
		</select>

		<span class="new-button">
			<button>Create new</button>

			<button disabled title="Saves 1 row at a time">Save</button>
		</span>
	</template>
</section>

<script src="/assets/Activity.js"></script>
<script src="/assets/profile.js"></script>

{{__foreach-1-start__}}{{admin_script}}{{__foreach-1-end__}}