header {
	z-index: 177;
}

main {
	display: flex;
	flex-flow: row nowrap;
	overflow-y: scroll;
	padding-left: unset;
}

main nav {
	flex: 0 15%;
	background:darkcyan;
	flex-flow: row wrap;
	max-width: 15%;
	font-size: 85%;
	height: inherit;
	align-content: flex-start;
}

main nav a {
	 width: 100%;
	 padding: 15% 0 2% 5%;
	 color: #ddd;
	 transition: all .4s ease-out;
	 max-height: 15%;
}

main nav a.active-side-nav, main nav a:hover {
	background: #90143d;
	color: #fff;
	transition: all .4s ease-in;
}

main section > span {
	position: absolute;
	transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	background: #fcffff;
	border: 1px solid #ccc;
	max-width: 15%;
	display: flex;
	flex-flow: row wrap;
	margin: -15px 0 0 5px;
}

main section span a {
	margin: 4px;
	color: #3a3434;
	display: block;
	flex: 1 100%;
	font-size: 130%;
	padding: 4px 0;
	padding-left: 5px;
	border-radius: 5%;
	transition: all 0.5s ease-in-out;
}

main section span a:hover {
	background: #3a3434;
	color: #f5f5f5
}

main section > span::before {
	content: '';
	border-bottom: 10px solid transparent;
	border-right: 10px solid #ccc;
	border-top: 10px solid transparent;
	position: absolute;
	margin-top: 25px;
	margin-left: -10px;
}

main section {
	flex: 1 75%;
	padding: 3% 2%;
	background: #fafafa;
}

#operation-info {
	margin-left: 5%
}

main form:last-child {
	box-shadow: 0 0 10px 5px #eee;
    background: white;
	padding: 3% 0 5% 5%
}

main section input {
	margin: 2% auto;
}

main section input[type=text], input[type=search] {
	height: 40px;
	width: 90%;
	border-radius: 4px;
	border: 1px solid #ddd;
	padding-left: 3%;
	transition: all .3s ease-in;
}

main section input:focus {
	outline: none;
	box-shadow: 0 0 10px #ddd;
	transition: all .3s ease-out;
}

main section button, main section [type=submit] {
	height: 37px;
	min-width: 7%;
	border-radius: 10%;
	border: none;
	padding: 1px 6px;
	background: #80b443;
	color: #fff;
	cursor: pointer;
	transition: all .4s ease-in-out;
	vertical-align: bottom;
}

main section button:hover {
	background: #4caf50;
	transition: all .4s ease-in-out;
}

label {
	font-size: 120%;
	font-weight: bold;
	text-transform: capitalize;
}

main section input[type='file'] {
	border: none;
	outline: none;
	background: none;
}

.icon-holder {
	height: 150px;
	color: #fff;
	display: block;
	font-size: 800%;
	text-align: center;
	background: #E91E63;
}

.add-more {
	padding: 3%;
    background: #FFC107;
    flex: 1 10%;
    margin-left: 5%;
    border-radius: 50%;
}

.add-more i {
	height: 30px;
	width: 30px;
	transform: none;
	animation: none;
	margin-right: 0;
	font-size: 90%
}

/* nexus 5x landscape */
@media only screen and (max-width: 732px) {

main section > span {
	max-width: 15%
}}