input[name=content] {
	height: 100px;
}

table [type=checkbox] {
  display: none;
}
.anim-cont {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 17px;
  padding: 5px 0 15px 0;
}
.anim-cont:before, .anim-cont:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  transition: all 0.3s ease;
}
.anim-cont:before {
  top: 12px;
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: #9E9E9E;
  border-radius: 8px;
}
.anim-cont:after {
  left: -2px;
  width: 20px;
  height: 20px;
  background-color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}

table [type=checkbox]:checked + .anim-cont:before {
  background-color: #A5D6A7;
}
table [type=checkbox]:checked + .anim-cont:after {
  background-color: #4CAF50;
  transform: translate(80%, -5%); /* left, top*/
}

td[contenteditable=''] {
	cursor: pointer;
	background: #eef;
	border: 1px solid #ccc;
}

ol {
	margin: 0 0 5% 3%
}

ol li {
	line-height: 30px
}
