main > section {
	flex: 1 100%
}

main > div {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	flex: 1 100%;
	margin: 5%;
}

main > div h3 {
    flex: 0 45%;
    border-radius: unset;
    cursor: pointer;
}

main h3.trade-mode {
	background: #fb9;
	color: #666
}

main input, select {
	height: 40px;
	width: 50%;
	border-radius: 5px;
	margin: 0 0 5% -3%;
	border: 1px solid #ccc
}

label {
	font-weight: bold;
	margin-left: -3%
}

main aside {
	display: none;
}

main p[class^='trade-'] {
	margin: 0 5%;
}

.trade-pending {color: #729;}

.trade-failure {color: #f11;}

.trade-success {color: #1a1;}